.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.light-color {
  color: #ffdfaa;
  border-color: #ffdfaa;
}

.hover-light-color:hover {
  background-color: #0f083b;
}

.hover-light-color:focus {
  background-color: #0f083b;
}
